@import "../../App.scss";
.services {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  h1 {
    text-align: center;
    font-size: 7rem;
    padding: 3rem 0;
    @include mobile {
      font-size: 5rem;
    }
  }
  .servicesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 7rem 5rem;

    @include mobile {
      flex-direction: column;
    }

    .left-box {
      flex: 1;
      .img-box {
        max-width: 40rem;
        margin: auto;

        img {
          border-radius: 5rem 5rem 7rem 0;
        }
      }
    }
    .right-box {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      justify-content: space-between;
      .inner-top {
        display: flex;
        gap: 3rem;

        @include mobile {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 3rem;
        }
        .inner-box {
          width: 35rem;
          padding: 2rem;
          border: 1px solid orange;
          border-radius: 3rem;
          font-size: 2rem;
          line-height: 2.5rem;
          text-align: center;
          letter-spacing: 0.3rem;
          @include mobile {
            width: 100%;
            max-width: 70rem;
          }
        }
        .inner-right {
          line-height: 5rem;
          h3 {
            font-size: 3rem;
            @include mobile {
              font-size: 2rem;
              line-height: 2.5rem;
            }
          }
          p {
            font-size: 2.5rem;
            @include mobile {
              font-size: 1.6rem;
            }
          }
        }
        .inner-left {
          margin: auto;
        }
      }
      .inner-bottom {
        h3 {
          font-size: 3rem;
          text-align: center;
          padding-bottom: 3rem;
        }
        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          font-size: 2.5rem;
          gap: 3rem;
          @include mobile {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
