*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  // scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  // background-image: linear-gradient(
  //   to right,
  //   #fff,
  //   #7938fa36,
  //   #fe067e2d,
  //   #07cdf92f
  // );
  background-image: radial-gradient(
    circle,
    #f694c8,
    #d5e7faef,
    #0661fe2d,
    #7ec7f4f8
  );
  color: rgb(31, 30, 30);
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  scroll-snap-align: center;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 1366px) {
    @content;
  }
}
